PRADAN_USERNAME=your_username
PRADAN_PASSWORD=your_password
GH_PAT=your_github_pat
MLFLOW_TRACKING_URI=http://localhost:5000
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
ENV=dev
SEEN_FILES_DB=data/processed/seen_files.db
# Inference API Secrets
RENDER_API_URL=http://localhost:8000
X_NOWCAST_KEY=paste_the_key_you_generated_here
