torch==2.3.0
xgboost==2.0.3
timesfm==1.0.1
momentfm==0.0.1
amazon-chronos-forecasting==0.0.1
dspy-ai==2.4.9
graphrag==0.1.1
flaml==2.1.2
mapie==0.8.3
shap==0.45.0
langgraph==0.0.39
peft==0.10.0
transformers==4.40.1
pandera==0.19.3
prometheus-client==0.20.0
PyYAML==6.0.1
pandas==2.2.2
numpy==1.26.4
astropy==6.0.1
sunpy==5.1.1
scipy==1.13.0
joblib==1.4.2
